.concept{
  position: relative;
  background: linear-gradient(0deg,#A1938689 0% 60%,#A193861F 60% 100%);
  height: 1100px;
  @include tab{
    position: initial;
  }
}



.concept-img{
  display: flex;
  justify-content: space-between;
  border: 1px solid rebeccapurple;
  height: 100%;
}


.concept-img-l{
  width: 60%;
  @include tab{
    width: 45%;
  }
  img{
    height: 100%;
    width: 100%;
    @include tab{
      object-fit: cover;
      object-position: 100% 0;
    }
  }
}
.concept-img-r{
  width: 36%;
  @include tab{
    width: 45%;
    
  }
  img{
    width: 100%;
    height: 100%;
    
    
  }

}

.concept-text{
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
  color: white;
  @include tab{
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  h4{
    font-size: 40px;
    font-family: serif;
    margin-bottom: 20px;
  }
  p{
    font-size: 16px;
    font-family: monospace;
    line-height: 1.5em;
  }
}
