footer{
  height: 230px;
}
.border{
  height: 3px;
  width: 80%;
  color: #A193861F;
}
.under-text{
  display: flex;
}
.under-footer{
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  @include tab{
    display: flex;
    flex-direction: column-reverse;
  }
}

.footer-left{
  display: flex;
  
}
.icon{
  display: block;
  @include tab{
    text-align: right;
    display: inline-block;
  }
}

hr{
  width: 80%;
  margin: 0 auto;
  display: block;
  margin: 150px;
}
.under-text{
  color: #7070704D;
  font-weight: bolder;
}

.footer-right{
  @include tab{
    text-align: center;
    margin-bottom: 20px;
  }
  
}
button{
  color: #7070704D;
  font-weight: bolder;
}